<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
   <h3>Write a message</h3>
   <div>
    <form action="/message" method="post">
        <div>
            <label for="title">Set A title:</label>
            <input for="title" type = "text"/>
        </div>
        <div>
            <label for="text">Write a Message:</label>
            <input for="title" type = "text"/>
        </div>
        <button type="submit">FINISH</button>
    </form>
   </div>
</body>
</html>