<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
   <h1>Sign Up Form</h1> 
        <form action="/sign-up" method="POST">
            <div>
                <label for = 'fullname'>Fullname:</label>
                <input id = 'fullname' name = 'fullname' type = 'text' placeholder="fullname"/>
            </div>
            <div>
                <label for = 'email' type = "email">Email:</label>
                <input id = 'fullname' name = 'fullname' type = 'text' placeholder="fullname"/>
            </div>
            <div>
                <label for = 'password'>Password:</label>
                <input id = 'password' name = 'password' type = 'password' placeholder="password"/>
            </div>
            <div>
                <label for = 'confirmPassword'>Confirm Password:</label>
                <input id = 'confirmPassword' name = 'confirmPassword' type = 'password' placeholder="password"/>

            </div>
            <div>
                <label for = 'fullname'>Sign Up as Admin?</label>
                <input id = 'admin' name = 'admin' type = 'checkbox' />
            </div>
            <button type="submit">Sign Up</button>
        </form>
</body>
</html>